body{
    font-family: sans-serif;
}
.hello{
    font-size: 40px;
    text-align: center;
    color: blue;
}
.h2{
    text-align: left;
}
.abc{
    font-family: "Meiryo", sans-serif;
    font-size: 30px;
}
.xyz{
    color: yellow;
}
ul{
    list-style-type: none;
}
.no1{
    color: red;
}